$secondary-color: #aaa;

table,
th,
td {
  border: 1px;
  width: 100%;
  margin: 0;
}

h2 {
  margin: 0.5rem 0 0.5rem 0;
}
.address {
  font-size: 10.5px;
  margin: 0;
}
body {
  margin: 0 0 1rem 0;
  background-color: #fff;
  width: 340px;
}
main {
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 2rem;
}
i {
  color: #666;
}
#balance-text {
  margin: 0.5rem 0 0 0;
}
.table {
  width: 100%;
  padding-left: 1rem;
  // margin-top: 0.5rem;
  // margin-bottom: 0.5rem;
}

.text-right {
  text-align: right;
  vertical-align: bottom;
}

.label {
  width: 70%;
}
.button {
  position: relative;
  right: 5px;
  width: 50px;
  height: 23px;
  border-radius: 10%;
  margin-right: 0px;
  border: 2px;
  float: right;
  &:hover {
    cursor: pointer;
    background-color: $secondary-color;
  }
}

#balance {
  // display: inline;
  text-align: right;
  margin: 0;
}
.hline {
  // width: 100%;
  height: 1px;
  background: #444;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}
.footIcon {
  text-align: center;
}
.input {
  margin: 0 0 0.5rem 1rem;
  // padding-left: 1rem;
}

.div-btn {
  height: 23px;
}

#figure {
  position: relative;
  margin: 0;
  width: 100%;
  background-position: fixed;
}

.addManager {
  display: none;
  // visibility: hidden;
  &.show {
    display: block;
  }
}

.button-close {
  border: none;
  background: #fff;
  color: #444;
}

.hidden {
  display: none;
}

.menu-btn {
  display: inline-block;
  position: absolute;
  z-index: 4;
  right: 30px;
  .fas:hover {
    cursor: pointer;
    color: #222;
  }
}

.unit {
  color: #888;
  font-size: 10px;
}

.secondary {
  margin-left: 1rem;
}